force-app/main/default/flows/AddRemoveVIPAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>setAccountId</name>
        <label>setAccountId</label>
        <locationX>325</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>theVIPAccount.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createVIPAccount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddOrRemoveVIPAccount</name>
        <label>AddOrRemoveVIPAccount</label>
        <locationX>87</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isAddingVIPAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addVIPAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theVIPAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setAccountId</targetReference>
            </connector>
            <label>AddVIPAccount</label>
        </rules>
        <rules>
            <name>isRemovingVIPAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addVIPAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>theVIPAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteVIPAccount</targetReference>
            </connector>
            <label>RemoveVIPAccount</label>
        </rules>
    </decisions>
    <interviewLabel>AddRemoveVIPAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddRemoveVIPAccounts</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createVIPAccount</name>
        <label>createVIPAccount</label>
        <locationX>492</locationX>
        <locationY>178</locationY>
        <inputReference>theVIPAccount</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteVIPAccount</name>
        <label>deleteVIPAccount</label>
        <locationX>89</locationX>
        <locationY>322</locationY>
        <inputReference>theVIPAccount</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getVIPAccount</name>
        <label>getVIPAccount</label>
        <locationX>87</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddOrRemoveVIPAccount</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Accounts_VIP__c</object>
        <outputReference>theVIPAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>getVIPAccount</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addVIPAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>removeVIPAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theVIPAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounts_VIP__c</objectType>
    </variables>
</Flow>
